{% extends "layout.jinja" %}
{% block title %} Home {% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style.css') }}" />
</head>

{% if session.username %}
    <p> Logged in as '<b><em>{{ session.username }}</em></b>' </p>
    <a href="/"> Home </a>
    <br>
    <a href="/logout"> Log out </a>
    <br>
    
    {% if session.username == 'admin' %}
        <a href="/admin"> admin page </a>
    {% endif %}

{% else %}
    <p> Login </p>
    <form action="/login" method="POST" onsubmit="return check(this)">
        <p> username: <br>
            <input type="text" name="username"> </p>
        <p> password: <br>
            <input type="password" name="password"></p>
        {# <input type="submit" value="log in"> <!-- this works as a button, but since I'd like to use the css for <button> instead, I'm using button below --> #}
        <button> log in </button>
    </form>
    <script>
        const check = form => {
            const username = form.username.value
            const password = form.password.value
            if(!username) {
                alert("please enter a username")
                return false
            } else if (!password) {
                alert("please enter a password")
                return false
            }
                
        }
    </script>
    
{% endif %}

{% endblock %}