{% extends "layout.jinja" %}
{% block title %} Registration {% endblock %}
{% block content %}

<form action="/register" method="POST" onsubmit="return checkForm(this)">
    
    <div class="input-container">
        <p> username <br>
            <input type="text" name="username" oninput="usernameCheck(event)"> 
        </p>
        <div id="username-errors-div" class="infobox">
            <ul id="username-errors-ul"></ul>
        </div>
    </div><br>
    
    <div class="input-container">
        <p> password <br>
            <input type="password" name="password1" oninput="passwordsCheck(event)"> 
            <b><custom-msg id="pw1msg" style="color:rgb(255, 179, 0)"></custom-msg></b> 
        </p>
        <div id="pw1-errors-div" class="infobox">
            <ul id="pw1-errors-ul"></ul>
        </div>
    </div>
    
    <p id="pw2p"> password again <br>
    <input type="password" name="password2" oninput="passwordsCheck(event)"> 
    <b><custom-msg id="pw2msg" style="color:rgb(255, 179, 0)"></custom-msg></b> </p>
    
    <div class="input-container">
        <p> email <br>
            <input type="email" name="email" oninput="checkEmail(event)"> 
            <b><custom-msg id="email-msg"></custom-msg></b> 
        </p>
        <div id="email-errors-div" class="infobox">
            <ul id="email-errors-ul"></ul>
        </div>
    </div>
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> <br>
    <button>register</button>
</form>

<script>
    
    const showErrorsFor = (errorList, target) => { // if there are multiple issues, then list them all separated by ';'
        const div = document.querySelector(`#${target}-div`)
        console.log("div:", div)
        if(errorList.length !== 0) {
            const ul = document.querySelector(`#${target}-ul`)
            ul.innerHTML = '' // reset the old content, as we now have an updated list of errors
            errorList.forEach(error => {
                const li = document.createElement('li')
                li.textContent = error
                ul.appendChild(li)
            })
            
            div.style.display = 'block'
        } else {
            div.style.display = 'none' // hide it
        }
    }
    
    const usernameErrorMsg = document.querySelector('#msg')
    const usernames = [... {{ usernames | tojson }}, 'admin'] // NB! (1) the '..tojson' will be an array (not a JSON), since it's directly from a python list. Misleading, yes. (2) I converted the list of tuples of one to just a list first, in 'routes.py'. Otherwise it would've been the same hassle here. (3) I'm using array spread [..., item-to-append-here]
    const usernameCheck = event => {
        const candidateName = event.currentTarget.value
        const usernameErrors = []
        for(const username of usernames) {  // can't use 'break' in .forEach loop; that's why 'for(...)'
            if (username === candidateName) {
                usernameErrors.push(`Username "${candidateName}" is taken`)
                break
            }
        }
        if (candidateName.length < 3 || candidateName.length > 25) {
                usernameErrors.push('Username should be 3-25 characters')
            }
        showErrorsFor(usernameErrors, 'username-errors')
    }

    const passwordsCheck = event => {
        const pw1msg = document.querySelector('#pw1msg')    // password 1 message = pw1msg
        const pw1 = document.querySelector('input[name="password1"]').value
        const pw2 = document.querySelector('input[name="password2"]').value
        const pwErrors = []
        if(!pw1.match(/[a-z]/) ) {
            pwErrors.push(`Add lowercase letters`)
        } if (!pw1.match(/[^a-z]/)){
            pwErrors.push(`Add uppercase letters, numbers or special characters`)
        } if (pw1.length < 8 || pw1.length > 49) {
            pwErrors.push(`Length should be 8-49 characters`)
        } if (pw1 !== pw2) {
            pwErrors.push(`Passwords don't match`)
        }
        showErrorsFor(pwErrors, 'pw1-errors')
    }

    const emailValidator = email => {
        if (email.match(/^[a-zA-Z0-9]+[a-zA-Z0-9!#$%&'*+-/=?^_`{|}~.]*@[a-zA-Z0-9\-\.]+\.[a-z]{2,}$/) && !email.match(/(\.\.)/)) { // NB! dot is '\.' in regex , because plain '.' means any character; hence it needs to be escaped using '\.'
            return true     // email ok. // the email must start with letters/numbers, and can not have two consecutive dots ('..'), also must end with '.char1char2' or longer, etc. (https://en.wikipedia.org/wiki/Email_address), (https://help.xmatters.com/ondemand/trial/valid_email_format.htm)
        }
        return false        // email sucks
    }

    const checkEmail = event => {
        const email = event.currentTarget.value
        console.log("email:", email)
        const emailMsg = document.querySelector('#email-msg')
        if (!emailValidator(email)) { 
            emailMsg.textContent = 'Please enter a valid email'  
            emailMsg.style.color = 'rgb(255, 179, 0)'
        } else {    
            emailMsg.textContent = ''
        }

    }

    const checkForm = form => {
        if (form.username.value.length < 3 || form.username.value.length > 25) {
            alert("Username should be 3-25 characters");
            return false;   // without this, it will submit the form. Even in that case, there's a separate error page with a similar message c:
        } else if (form.password1.value.length < 8 || form.password1.value.length > 49) {
            alert("Password length has to be 8-49");
            return false;
        } else if (!form.password1.value.match(/[^a-z]/) || !form.password1.value.match(/[a-z]/)) { // if not a-z or not(not(a-z)), then reject. That is; we want both (1) lowercase letters, and (2) any non-lowercase symbols
            alert("Please enter a password with both (1) lowercase letters, and (2) at least uppercase letters, numbers or special characters")
            return false;
        } else if (!emailValidator(form.email.value)) {    // without this, it would pass if left empty! the 'type=email' only checks for the form of input, not if the field is empty!
            alert("Please provide a valid email");
            return false;
        } else if (form.password1.value === '' || form.password2.value === '') { 
            alert("Please provide password twice");
            return false;
        } else if (form.password1.value !== form.password2.value) { // I realized, it's best to check this LAST. Otherwise they first go through the trouble of making the best 7-character password (trying to make it match), only THEN to meet with the announcement "your password sucks :D"
            console.log("form.password1.value:", form.password1.value, "form.password2.value:", form.password2.value);
            alert("Passwords do not match");
            return false;   // would submit the form without this
        } else {
            return true;
        }
    }
</script>

{% endblock %}